*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.container {
    display: flex;
    height: 100vh;
}
.side-bar{
    border: 1px solid #efefef;
}
.side-bar h2 {
    margin-bottom: 30px;
    color: #060F23;
}

/* 

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid #efefef;
    border-radius: 5px;
    width: 40%;
    height: 30px;
}
#search-bar{
    width: 90%;
    border: none;
}
.search-bar p{
    color: #999999;
}
.user-section{
    display: flex;
    border: 1px solid black;
    width: 5%;
    height: 30px;
}
.user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-section p{
}

.side-bar{
    border: 1px solid #2563DC;
    height: 500px;
} */
.user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}