*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #efefef;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 250px;
}
.side-bar h2 {
    margin-bottom: 50px;
    color: #2563DC;
}
.side-bar nav ul li {
    list-style: none;
    margin-bottom: 30px;
}
.side-bar nav ul li a {
    color: #2563DC;
    background-color: #EEF2FC;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 8px;
    transition: background-color 0.3s;
    /* text-align: center; */
}
.side-bar nav ul li a:hover {
    color: white;
    background-color: #2563DC;
}
.logout{
    color: #B93A13;
    background-color: #FDF0EC;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.logout:hover{
    color: white;
    background-color: #B93A13;
}

main{
    flex: 1;
    margin: 15px;
    padding: 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
}
header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    width: 70%;
    border: 1px solid #efefef;
    border-radius: 8px;
}
#search-bar{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.user-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 10%;
}
.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-section i{
    color: #2563DC;
    cursor: pointer;
}